<!DOCTYPE html>
<html><head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Callum's bikes</title>
  </head>
  <body>

    <div class="header">
      <div class="container">
        <h2 class="pull-left">Callum's Bikes</h2>

        <ul class="pull-right nav nav-tabs">
  		<li><a href="#">Stance</a></li>
         <li><a href="#">Zula</a></li>
         <li><a href="#">xtc</a></li>
         <li><a href="#">fp2</a></li>
       </ul>
      </div>
  </div>



    <div class="jumbotron">
      <div class="container">
        <h2>Welcome to my site.</h2>
        <p>This is where i am learning how to use ruby on rails to make websites. I am doing this as a hobby and to make some pocket change. I really enjoyed the ruby section and might look into learning more about that.</p>
      </div>
    </div>
    
    <%= link_to 'Home', root_path %>

</body></html>
