<!DOCTYPE html>
<html><head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Callum's bikes</title>
  </head>
  <body>

    <div class="header">
      <div class="container">
        <h2 class="pull-left">Callum's Bikes</h2>

        <ul class="pull-right nav nav-tabs">
  		<li><a href="#">Stance</a></li>
         <li><a href="#">Zula</a></li>
         <li><a href="#">xtc</a></li>
         <li><a href="#">fp2</a></li>
       </ul>
      </div>
  </div>



    <div class="jumbotron">
      <div class="container">
        <h2>Giant Stance 2 2015</h2>
        <p>The giant stance is an excellent trail bike for its price. It features 120mm front travel, hydraulic disc brakes, 27 gears and a moderate weight. It is the cheapest bike of its quality available you can probably buy it for $1400 from a bike shop. The bike has excellent balance and is capable of moderate sized jumps and trail features such as log rides and log overs. It is lighter than some more heavy duty trail bikes and can climb better but lacks the suspension capability for serious downhill.</p>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>Suspension</h4>
            <p>Uses rockshox 30 up front and monarch for rear</p>
          </div>
          <div class="col-md-4">
            <h4>Componants</h4>
            <p>Uses giant connect annd giant sport componants</p>
          </div>
          <div class="col-md-4">
            <h4>Brakes</h4>
            <p>Uses shimano M355 hydraulic disc brakes</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>Drivetrain</h4>
            <p>Uses shimano alivio gears</p>
          </div>
          <div class="col-md-6">
            <h4>Wheels</h4>
            <p>Uses giant alloy rims with maxxis ardent tires</p>
          </div>
        </div>
      </div>
    </div>
    
    <%= link_to 'About', about_path %>



</body></html>
